build/
install/
log/
.colcon/
.colcon_cache/

build_tests/
test_results/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

.vscode/
.idea/


.DS_Store
Thumbs.db

*.swp
*.swo

*.bkp